.logo {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    // margin-right: 95px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo--black {
    .black-text {
        color: #000;
    }

    @include mq(tablet) {
        margin-right: 88px;
    }

    @include mq(desktop) {
        margin-right: 93px;
    }
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.logo--white {
    margin-right: 0;

    .white-text {
        color: var(--white);
    }
}