.social__item:not(:last-child) {
    margin-right: 10px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icon-fill);

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--white);
        background-color: var(--accent-color);
    }
}

.social__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.social__link--white {
    background-color: rgba(255, 255, 255, .1);
    color: var(--white);
}