body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-size: 14px;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-style: normal;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}