:root {
    --header-line-color: #ECECEC;
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --button-hover-coolor: #188CE8;
    --background-color: #F5F4FA;
    --project-border-color: #EEEEEE;
    --footer-background-color: #2F303A;
    --icon-fill: #AFB1B8;
    --white: #ffffff;
}