.filter {
    margin: -15px;

    margin-bottom: 40px;

    @include mq(tablet) {
        margin-bottom: 30px;
        justify-content: center;
    }

    @include mq(desktop) {
        margin-bottom: 50px;
    }

    justify-content: start;
}

.filter__item {
    margin: 8px;
}

.project {
    margin: -15px;
    justify-content: start;
}

.project__item {
    margin-bottom: 30px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    margin: 15px;

    @include mq(tablet-only) {

        width: 354px;

        &:first-child .project__description {
            height: 147px;
        }
    }

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

        &:hover .overlay {
            transform: translateY(-305px);
            pointer-events: all;
        }
    }
}

.image-container {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.projects-image {
    margin: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 305px;
    left: 0;
    pointer-events: none;


    padding-left: 25px;
    padding-right: 25px;
    padding-top: 60px;
    background-color: rgba(33, 150, 243, 0.9);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--white);
}

.project__description {
    padding: 20px 24px;
    border: 1px solid var(--project-border-color);
    border-top: 0;
}

.project__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-color);
}

.project__text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;

    color: var(--text-color);
}